---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://withstain.com{{ page.url | url }}</loc>
    <lastmod>{{ page.date | date }}</lastmod>
    {%- if page.url == '/' %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif '/articles/' in page.url and page.url != '/articles/' %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- elif page.url == '/articles/' %}
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
